WpfClientProject/Connected Services/ServiceReferenceBank/ServiceBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceBase" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceBase/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceBase/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceBase/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBase_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountsByNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountsByNumber" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountsByNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountsByNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountsByUser" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountByCostumer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountByCostumer" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountByCostumer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountByCostumerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetCustomerByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUser" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetCustomerByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomers" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateAction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActions" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAllActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActionsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertAccountAction_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_InsertAccountAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateAccountAction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_UpdateAccountAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteAccountAction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_DeleteAccountAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_SelectAllAccountAction_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllAccountAction" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_SelectAllAccountAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllAccountActionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAccountActionByBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountActionByBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetAccountActionByBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountActionByBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountTransfer" />
  </wsdl:message>
  <wsdl:message name="IServiceBase_GetBankAccountTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBase">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/InsertUser" message="tns:IServiceBase_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/InsertUserResponse" message="tns:IServiceBase_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UpdateUser" message="tns:IServiceBase_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UpdateUserResponse" message="tns:IServiceBase_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/DeleteUser" message="tns:IServiceBase_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/DeleteUserResponse" message="tns:IServiceBase_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetAllUsers" message="tns:IServiceBase_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetAllUsersResponse" message="tns:IServiceBase_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UserLogin" message="tns:IServiceBase_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UserLoginResponse" message="tns:IServiceBase_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetAllBankAccounts" message="tns:IServiceBase_GetAllBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetAllBankAccountsResponse" message="tns:IServiceBase_GetAllBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountsByNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountsByNumber" message="tns:IServiceBase_GetBankAccountsByNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountsByNumberResponse" message="tns:IServiceBase_GetBankAccountsByNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountsByUser" message="tns:IServiceBase_GetBankAccountsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountsByUserResponse" message="tns:IServiceBase_GetBankAccountsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountByCostumer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountByCostumer" message="tns:IServiceBase_GetBankAccountByCostumer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountByCostumerResponse" message="tns:IServiceBase_GetBankAccountByCostumer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/InsertBankAccount" message="tns:IServiceBase_InsertBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/InsertBankAccountResponse" message="tns:IServiceBase_InsertBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UpdateBankAccount" message="tns:IServiceBase_UpdateBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UpdateBankAccountResponse" message="tns:IServiceBase_UpdateBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/DeleteBankAccount" message="tns:IServiceBase_DeleteBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/DeleteBankAccountResponse" message="tns:IServiceBase_DeleteBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetCustomerByUser" message="tns:IServiceBase_GetCustomerByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetCustomerByUserResponse" message="tns:IServiceBase_GetCustomerByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetAllCustomers" message="tns:IServiceBase_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetAllCustomersResponse" message="tns:IServiceBase_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/InsertCustomers" message="tns:IServiceBase_InsertCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/InsertCustomersResponse" message="tns:IServiceBase_InsertCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UpdateCustomers" message="tns:IServiceBase_UpdateCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UpdateCustomersResponse" message="tns:IServiceBase_UpdateCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/DeleteCustomers" message="tns:IServiceBase_DeleteCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/DeleteCustomersResponse" message="tns:IServiceBase_DeleteCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/InsertAction" message="tns:IServiceBase_InsertAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/InsertActionResponse" message="tns:IServiceBase_InsertAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UpdateAction" message="tns:IServiceBase_UpdateAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UpdateActionResponse" message="tns:IServiceBase_UpdateAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/DeleteAction" message="tns:IServiceBase_DeleteAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/DeleteActionResponse" message="tns:IServiceBase_DeleteAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActions">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetAllActions" message="tns:IServiceBase_GetAllActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetAllActionsResponse" message="tns:IServiceBase_GetAllActions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccountAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/InsertAccountAction" message="tns:IServiceBase_InsertAccountAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/InsertAccountActionResponse" message="tns:IServiceBase_InsertAccountAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/UpdateAccountAction" message="tns:IServiceBase_UpdateAccountAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/UpdateAccountActionResponse" message="tns:IServiceBase_UpdateAccountAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/DeleteAccountAction" message="tns:IServiceBase_DeleteAccountAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/DeleteAccountActionResponse" message="tns:IServiceBase_DeleteAccountAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllAccountAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/SelectAllAccountAction" message="tns:IServiceBase_SelectAllAccountAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/SelectAllAccountActionResponse" message="tns:IServiceBase_SelectAllAccountAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountActionByBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetAccountActionByBankAccount" message="tns:IServiceBase_GetAccountActionByBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetAccountActionByBankAccountResponse" message="tns:IServiceBase_GetAccountActionByBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountTransfer" message="tns:IServiceBase_GetBankAccountTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBase/GetBankAccountTransferResponse" message="tns:IServiceBase_GetBankAccountTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBase" type="tns:IServiceBase">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetAllBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountsByNumber">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetBankAccountsByNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountsByUser">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetBankAccountsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountByCostumer">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetBankAccountByCostumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/InsertBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UpdateBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/DeleteBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByUser">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetCustomerByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/InsertCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UpdateCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomers">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/DeleteCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/InsertAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UpdateAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/DeleteAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActions">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetAllActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccountAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/InsertAccountAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/UpdateAccountAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/DeleteAccountAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllAccountAction">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/SelectAllAccountAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountActionByBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetAccountActionByBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountTransfer">
      <soap:operation soapAction="http://tempuri.org/IServiceBase/GetBankAccountTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBase">
    <wsdl:port name="BasicHttpBinding_IServiceBase" binding="tns:BasicHttpBinding_IServiceBase">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceModel/ServiceBase/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>